{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}

<div id="content" class="content">

    <h1>Toutes les catégories : </h1>
    {% for category in categories %}
        <div>

            <a href="{{ path("category_browse", { categoryName: category.name }) }}">
                <h2 class="btn-category"> Catégorie : {{ category.name }}</h2>
            </a>

        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a class="btn-category" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
</div>
{% endblock %}