{# templates/category/new.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

    <div class="title-pages">
        <h1>Ajouter une catégorie </h1>
    </div>

        <div class="content-category-series">


            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit">Ajouter</button>
            {{ form_end(form) }}

        </div>

    <a class="btn-return" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}