{# templates/program/new.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

    <div class="title-pages">
        <h1>Ajouter une série </h1>
    </div>

        <div class="content-category-series">

          {{ include ('program/_form.html.twig') }}

        </div>

    <a class="btn-return" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}