* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

h1 {
    padding-bottom: 20px;
    position: relative;
}

p {
    font-size: 17px;
    font-weight: 100;
}

a {
    text-decoration: none;
}

.btn-lire {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 3%;

}

.btn-lire:hover {
    color: white;
    border-left: 3px solid white;
    padding-left: 10px;
}

.title-pages {
    margin: 20px 0px 0px 260px;
    position: relative;
    z-index: 10;
    top: 1vh;
}

.content-page {
    display: flex;
    flex-direction: row;
}

table {
    padding-top: 20px;
}

td {
    border: 7px solid white;
}

th {
    text-transform: uppercase;
}

.flash-success {
    color: green;
    background-color:blue;
}

.flash-delete {
    color: red;
    background-color:yellow;
}

/* CSS de la sidebar */

#logo-wild {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    color: black;
    text-shadow: red 2px 3px;
}


#logo-wild:hover {
    color: red;
    text-shadow: black 2px 3px;

}

#logo-series {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: red;
    margin-top: -3vh;
    margin-bottom: 5vh;
    text-shadow: black 2px 3px;
}

#logo-series:hover {
    color:black;
    text-shadow: red 2px 3px;

}

.sidebar {
    color: black;
    width: 170px;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 2px solid black;
    margin: 20px 0 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;

    position: absolute;
    z-index: 1010;
}

.content {
    margin-left: 230px;
    padding: 20px 30px;
}

.nav-li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
    list-style-type: none;
    margin-bottom: 15px;
}

nav li {
    list-style-type: none;
    margin-bottom: 15px;
}

.nav-li:hover {
    color: red;
    border-left: 3px solid red;
    padding-left: 10px;
}

.btn-home {
    margin-right: 20px;
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
    margin-bottom: 1vw;
}

.btn-home:hover {
    color: red;
    border-left: 3px solid red;
    padding-left: 10px;
}

.btn-return {
    margin-left: 260px;
    color: black;
    font-weight: bold;
}

.btn-return:hover {
    color: red;
    border-left: 3px solid red;
    padding-left: 10px;
}

/* CSS de la homepage */

.category-serie {
    padding: 5%;
    text-transform: capitalize;
    font-style: italic;
}

/* CSS de la page show/program */

.media-body {
    padding: 0 40px 0 40px;
}

.btns-show-programs{
    padding-bottom: 20px;
}

.program-title {
    text-transform: uppercase;
}

.show-category-serie {
    padding-bottom: 5%;
    text-transform: capitalize;
    font-style: italic;
}

.show-program-summary {
    padding-bottom: 3%;
}

.seasons-and-actors{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.title-box {
    font-weight: bold;
    padding-bottom: 2%;
}

.list-actors {
    padding : 1% 0 5% 0;
}

.actors {
    list-style: none;
}

.actors a{
    color: black;
}

.actors a:hover{
    color: red;
    font-weight: bold;
    border-left: 3px solid red;
    padding-left: 10px;
}

.image-showProgram {
    border-radius: 10px;
    object-fit: cover;
}

img {
    height: 95vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-show-program {
    color: black;
    font-weight: bold;
    margin-bottom: 1vw;
}

.btn-show-program:hover {
    color: red;
    border-left: 3px solid red;
    padding-left: 10px;
}

/* CSS de la page /category/ */

.btn-category {
    color: black;
    font-weight: bold;
    margin-bottom: 1vw;
}

.btn-category:hover {
    color: red;
    border-left: 3px solid red;
    padding-left: 10px;
}

/* CSS de la page category/{{categoryName}} */

.content-category-series {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 3%;
    margin-left: 230px;
    padding: 0 30px 0 30px;
}

#category-series {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    max-width: 290px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 1.5vw;
}

#category-series::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    border-radius: 10px;

  }

  #category-series:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    border-radius: 10px;

  }

  #category-series::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: red;
    z-index: -1;
    transition: transform 1s ease;

  }

#category-series-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transition: transform 1s;
}

#category-series-img:hover {
    color: red;
    opacity: 0.8;
}

.title-serie {
    padding: 3% 5% 0 5%;
}

.summary-serie {
    padding: 5%;
}

/* CSS de la page show program */

.image-showProgram {
    width: 60vh;
    height: 90vh
}

/* CSS de la page edit season */

#edit-season {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 700px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 1.5vw;
}

.test {
    display: flex;
    flex-direction:row;
}