<nav>

 <div class="sidebar">
        <nav>
            <ul>
                <li>
                        <span class="nav-li"><a href="http://127.0.0.1:8000/">Home</a></span>
                </li>
                <li>
                        <span class="nav-li"><a href="{{ path('category_index') }}">Categories</a></span>
                </li>
                <li>
                        <span class="nav-li"><a href="{{ path('program_index') }}">Series</a></span>
                </li>
            </ul>
        </nav>
    </div>

</nav>