<nav>

 <div class="sidebar">
        <nav>
            <ul>
                <li>
                        <span><a href="{{ path('app_index') }}">Home</a></span>
                </li>
                <li>
                        <span><a class="nav-li" href="{{ path('category_index') }}">Categories</a></span>
                </li>
                <li>
                        <span><a class="nav-li" href="{{ path('program_index') }}">Series</a></span>
                </li>
            </ul>
        </nav>
    </div>

</nav>