{% extends "base.html.twig" %}

{% block body %}

    <div class="title-pages">
        <h1>Bienvenue</h1>
    </div>

        <div class="content-category-series">
            <a href="{{ path('program_index')}}">Gérer les séries</a>
            <a href="{{ path('season_index')}}">Gérer les saisons</a>
            <a href="{{ path('episode_index')}}">Gérer les épisodes</a>
        </div>


{% endblock %}